body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0;
}

#hero {
    width: 592px;
    margin: 0 auto;

}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  margin-top: 80px;
}

h1 span {
  font-weight: bold;

  margin-bottom: 32px;
}

span, a {
  color: #ff9900;
}

.line {
  width: 568px;
  height: 0;

  margin: 64px auto 0;

  border: 1px solid #ECEFF2;
}

#footer, p {
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;
  margin: 16px;
}

#footer a + a {
  margin-left: 28px;
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0;
}